task1/task1_package/**
!task1/task1_package/onix_internship/*
!task1/task1_package/*
task3/*
!task3/main.py
task4/*
!task4/main.py
!task4/task_classes.py
task5/*
!task5/main.py
!task5/README.md
!task5/full_city_list.txt